[submodule "ogg"]
	path = ogg
	url = https://github.com/juj/ogg.git
[submodule "vorbis"]
	path = vorbis
	url = hhttps://github.com/juj/vorbis.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/juj/SDL-emscripten.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/juj/SDL_image.git
